body{background-color: #f1f1f1;}
#menu{width:300px;height:500px;background-color: black;margin-top: 100px;margin-left: 150px;border-radius:20px;box-shadow:1px 7px 8px rgba(0,0,0,0.7);display:inline-block;}
p.text-center{font-family: 'Open Sans', sans-serif;font-size: 20px;color:white;padding-top: 20px;}
div#task_numb{height:50px;width:140px;background-color: white;margin-left:28%;}
div#task_numb p {font-size: 38px;text-align: center;}
div#newtask_text{height:150px;width:90%;background-color: lightgrey;margin-left:5%;}
input#task_place{height:70px;}

#task_list{width:500px;height:500px;background-color: white;margin-top: 100px;margin-left: 150px;border-radius:20px;box-shadow:1px 7px 8px rgba(0,0,0,0.7);display:inline-block;}
.navbar-inverse ul li a{color:lightgrey;font-size: 20px;padding-left: 20px;padding-right: 58px;float: left;font-family: 'Open Sans', sans-serif;}


input#add_task{width:74%;margin-left:13%;border-radius: 15px;}
input#task_removing{width:74%;margin-left:13%;border-radius: 15px;}
span.glyphicon-trash{cursor: pointer;margin-left: 40px;}
select.form-control{width:58%;margin-left: 34%;display:inline-block;font-size:15px;}
.control-label{color:white;display:inline-block;}

textarea.form-control{width:90%;margin-left: 5%;}
div.text-center {margin-left: 50px;}
span.index{margin-right: 20px;}
