body{background-color: #f1f1f1;}
#calculator{margin-top: 170px;margin-left:649px;}
div#screen{background-color: white;width:280px;height: 55px;box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.95);border-radius:4px;}
#topmenu{margin-right: 195px;}
input.menu{background-color: grey;font-size:24px;width:58px;height:58px;border:0px;box-shadow: 0px 4px 5px 0px rgba(1,0,0,0.75);margin-right: 8px;margin-top: 8px;}
input#clear{width:58px;height:58px;border:0px;background-color: #A52A2A;font-size:24px;box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);margin-right: 8px;margin-top: 8px;}

table {margin-left: 2px;width:280px;}
input.numb_btn{background-color: black;font-size:24px;width:58px;height:58px;border:0px;box-shadow: 0px 4px 5px 0px rgba(1,0,0,0.75);margin-right: 8px;margin-top: 8px;}
input.numb_btn_zero{background-color: black;font-size:24px;width:126px;height:58px;border:0px;box-shadow: 0px 4px 5px 0px rgba(1,0,0,0.75);margin-right: 8px;margin-top: 8px;}


input.menu_equal{background-color: #1E90FF;font-size:24px;width:58px;height:126px;border:0px;box-shadow: 0px 4px 5px 0px rgba(1,0,0,0.75);margin-right: 7px;margin-top: 8px;}
#row_bottom div#row_menu_equal{margin-top: 9px;display:inline;}
#row_second,#row_first{margin-right: 264px;margin-top: 9px;}
#row_bottom{display:inline;}



p#score{font-size:34px;font-weight:bold;float: right;margin-right: 10px;margin-top: 4px;}




