body{background-color: #f1f1f1;}
#menu{width:300px;height:500px;background-color:black;margin-top: 100px;margin-left: 150px;border-radius:20px;box-shadow:1px 7px 8px rgba(0,0,0,0.7);display:inline-block;}
p.text-center{font-family: 'Open Sans', sans-serif;font-size: 20px;color:white;padding-top: 20px;}
div#task_numb{height:50px;width:140px;background-color: white;margin-left:28%;}
div#task_numb p {font-size: 38px;text-align: center;}
div#newtask_text{height:150px;width:90%;background-color: lightgrey;margin-left:5%;}
input#task_place{height:70px;}

#task_list{width:500px;height:500px;background-color: white;margin-top: 100px;margin-left: 100px;border-radius:20px;box-shadow:1px 7px 8px rgba(0,0,0,0.7);display:inline-block;}
.navbar-inverse ul li a{color:lightgrey;font-size: 20px;padding-left: 24px;padding-right: 58px;text-align:center;float: left;font-family: 'Open Sans', sans-serif;}



input#add_task{width:50%;margin-left:25%;border-radius: 5px;font-size:15px;}
input#add_task:hover{transition: all 0.5s ease-out;}
input#task_removing{width:50%;margin-left:25%;border-radius: 5px;font-size:15px;}
input#task_removing:hover{transition: all 0.5s ease-out;}
/*span.glyphicon-trash{margin-left: 10px;}*/

select.form-control{width:50%;margin-left: 34%;display:inline-block;font-size:15px;}
.control-label{color:white;display:inline-block;}

textarea.form-control{width:90%;margin-left: 5%;}
.link-list{width:100%;}
td.index{width:50px;margin-right: 10px;}
td.date{min-width:125px;text-align:left}
td.name{min-width:250px;left:20px;position: relative;}


td#actions{width:125px;cursor: pointer;}

#add_hour{width:50%;margin-left: 34%;text-align: center;}
#add_hour_back {display:inline-block;margin-left: 30%;position: relative;}
#add_hour_back:hover {transition: all 0.3s ease-out;}
#hour_forward {display:inline-block;}
#hour_forward:hover {transition: all 0.3s ease-out;cursor: pointer;}
.col1{background-color: black;width:50px;text-align:center;color:white;height: 30px;border-top:1px lightgrey solid;}
.col2{background-color: black;width:200px;text-align:left;color:white;height: 30px;border-top:1px lightgrey solid;}
.col3{background-color: black;width:125px;text-align:left;color:white;height: 30px;border-top:1px lightgrey solid;}
.col4{background-color: black;width:125px;text-align:left;color:white;height: 30px;border-top:1px lightgrey solid;}